# Twitter API v2.0

* El objetivo es probar e investigar la nueva API de Twitter basandome en la documentaci√≥n.

In [ ]:
! pip install git+https://github.com/tweepy/tweepy.git

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting git+https://github.com/tweepy/tweepy.git
  Cloning https://github.com/tweepy/tweepy.git to /tmp/pip-req-build-h4t_gumz
  Running command git clone -q https://github.com/tweepy/tweepy.git /tmp/pip-req-build-h4t_gumz
Requirement already satisfied: oauthlib<4,>=3.2.0 in /usr/local/lib/python3.7/dist-packages (from tweepy==4.10.0) (3.2.0)
Collecting requests<3,>=2.27.0
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 62 kB 868 kB/s
Requirement already satisfied: requests-oauthlib<2,>=1.2.0 in /usr/local/lib/python3.7/dist-packages (from tweepy==4.10.0) (1.3.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.27.0->tweepy==4.10.0) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.27.0->tweepy==4.10.0) (2022.6.15)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.27.0->tweepy==4.10.0) (2.1.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.27.0->tweepy==4.10.0) (1.24.3)
Building wheels for collected packages: tweepy
  Building wheel for tweepy (setup.py) ... done
  Created wheel for tweepy: filename=tweepy-4.10.0-py3-none-any.whl size=94559 sha256=32f15ad25cd6de6ca67ff6bffae1f96fef1d72585741133a5988b7978e546874
  Stored in directory: /tmp/pip-ephem-wheel-cache-rgvql656/wheels/b4/a5/5a/5074abdb9f4bd5bd0e22631a63fc41ae2fa71ad83780ea18d1
Successfully built tweepy
Installing collected packages: requests, tweepy
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Attempting uninstall: tweepy
    Found existing installation: tweepy 3.10.0
    Uninstalling tweepy-3.10.0:
      Successfully uninstalled tweepy-3.10.0
Successfully installed requests-2.28.1 tweepy-4.10.0

In [ ]:
import pandas as pd
import tweepy
import matplotlib.pyplot as plt 
%matplotlib inline

In [ ]:
consumer_key= ""
consumer_secret= ""
bearer_token= ""
access_token= ""
access_token_secret= ""

In [ ]:
api = tweepy.Client(
    bearer_token=bearer_token, 
    consumer_key=consumer_key, 
    consumer_secret=consumer_secret,
    access_token=access_token, 
    access_token_secret=access_token_secret,
    return_type=dict, 
    wait_on_rate_limit=True)

In [ ]:
tws=api.search_recent_tweets(query="las leonas -is:retweet", max_results=100)

In [ ]:
tws

In [ ]:
for tw in tws['data']:
    print(tw)

In [ ]:
column_names = ["full_text", "user_id","busqueda"]
mistw = pd.DataFrame(columns = column_names)

mistw

Empty DataFrame
Columns: [full_text, user_id, busqueda]
Index: []

In [ ]:
#busqueda=0 significa que asigna una categoria, si hago mas busquedas puedo clasificar con ML
for tw in tws['data']:
    mistw=mistw.append({'full_text':tw['text'],'user_id':tw['id'],'busqueda':0}, ignore_index=True)

In [ ]:
mistw

,full_text,user_id,busqueda
0,üîµüî¥ Revisa las palabras del t√©cnico Nicol√°s Bra...,1555630226784374785,0
1,Muchos historiadores coinciden que la fiesta d...,1555625800333897728,0
2,@ARES1936 Le llevas a casa con las tres leonas?,1555619209631203328,0
3,"@DaniAlegria_ Toda la raz√≥n Dani, es absolutam...",1555618689101094912,0
4,@juanigal_ Agus Albertario en el vestuario de ...,1555618202234806272,0
...,...,...,...
95,Con la lucia vamos a ver a los pumas y a las l...,1555249147686551552,0
96,14:43-Una de Las Leonas sufri√≥ un nuevo robo e...,1555249119446253568,0
97,14:43-Una de Las Leonas sufri√≥ un nuevo robo e...,1555248988609060864,0
98,@raulchilwe @ximenaaguileraj No ofendamos a la...,1555244681243439106,0
99,Las leonas: mi unica alegria ü•≤‚ù§Ô∏è‚Äçü©π https://t.c...,1555238262846791682,0

In [ ]:
mistw.to_csv('tws.csv', index=False)

## Bibliograf√≠a:
+ [Autenticaci√≥n](https://docs.tweepy.org/en/stable/authentication.html)
+ [Filtrado](https://developer.twitter.com/en/docs/twitter-api/tweets/filtered-stream/introduction)